@(clientes: List[Cliente])

@main_funcionario("WebSports - Clientes", "Clientes") {
    <section class="cliente col-xs-offset-2">
        <div class="row">
            <div class="table-title">
                <h1>Listagem de Clientes </h1>
                <a class="btn btn-save" id="modalClienteToggle" href="@routes.ClienteController.create()">Novo</a>
            </div>
            @if(clientes.isEmpty) {
                <div class="alert alert-warning">
                   <h2>&nbsp;Não há clientes cadastrados</h2>
                </div>
            } else {
                <table class="table">
                    <thead>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        @for(cliente <- clientes) {
                            <tr>
                                <td>@cliente.usuario_id.nome</td>
                                <td>@cliente.usuario_id.email</td>
                                <td>@cliente.usuario_id.cpf</td>
                                <td>@cliente.usuario_id.endereco_id.rua,
                                    @cliente.usuario_id.endereco_id.numero @if(!cliente.usuario_id.endereco_id.complemento.isEmpty) {, @cliente.usuario_id.endereco_id.complemento
                                }
                                </td>
                                <td>
                                    <a class="btnCliEdit" href="javascript:;" data-id="@cliente.id">Editar</a>
                                    <a href="@routes.ClienteController.delete(cliente.id)">Excluir</a>
                                </td>
                            </tr>
                        }
                    }
        </tbody>
        </table>
        </div>
    </section>
    @modalCliente()
}