@()
@main_funcionario("WebSports - Clientes", "Funcionarios") {

    <section class="cliente col-xs-offset-2">
        <div class="row">
            <div class="table-title">
                <h1>Graficos de Relação de Clientes</h1>
            </div>

            <canvas class="line-chart"></canvas>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

            <script>
                var ctx = document.getElementsByClassName("line-chart");

                    var chartGraph = new Chart(ctx,
                    {"type":"bar",
                        "data":{"labels":["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"],
                            "datasets":[{"label":"My First Dataset",
                                "data":[65,59,80,81,56,55,40,10,15,20,25,12],
                                "fill":false,
                                "backgroundColor":["rgba(255, 99, 132, 0.2)",
                                    "rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)",
                                    "rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)",
                                    "rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)",
                                    "rgba(170, 102, 255, 0.2)","rgba(140, 120, 285, 0.2)","rgba(120, 160, 215, 0.2)",
                                    "rgba(45, 160, 250, 0.2)" ],
                                "borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)",
                                    "rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)",
                                    "rgb(153, 102, 255)","rgb(201, 203, 207)",
                                    "rgb(170, 102, 255, 0.2)","rgb(140, 120, 285, 0.2)","rgb(120, 160, 215, 0.2)",
                                    "rgb(45, 160, 250, 0.2)"],
                                "borderWidth":1}]},
                        "options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}});

            </script>

        </div>
    </section>
}