@()

<div id="modalCliente" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div id="header">
                <h2>Adicionar Cliente</h2>
            </div>
        </div>
        <form action="@routes.ClienteController.save()" method="post">
            <div class="modal-body">
                <div class="form-control">
                    <input type="hidden" id="acao" name="acao">
                    <input type="hidden" id="id" name="id">

                    <div class="col-sm-2">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="col-sm">
                        <input type="text" name="nome" id="nome" required placeholder="Nome">
                    </div>
                </div>
                <div class="form-control">
                    <div class="col-sm-2">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-sm">
                        <input type="email" name="email" id="email" required placeholder="Email">
                    </div>
                </div>
                <div class="form-control">
                    <div class="col-sm-2">
                        <label for="senha">Senha</label>
                    </div>
                    <div class="col-sm">
                        <input type="password" name="senha" id="senha" required placeholder="Senha">
                    </div>
                </div>
                <div class="form-control">
                    <div class="col-sm-2">
                        <label for="cpf">CPF</label>
                    </div>
                    <div class="col-sm">
                        <input type="text" name="cpf" id="cpf" required placeholder="CPF">
                    </div>
                </div>

                <div class="form-control">
                    <div class="col-sm-2">
                        <label for="cep">Endereço</label>
                    </div>
                    <div class="col-sm">
                        <input type="text" name="cep" id="cep" required placeholder="CEP">
                    </div>
                </div>
                <div class="form-control">

                    <div class="col-sm-offset-2 col-sm">
                        <input type="text" name="endereco" id="endereco" required placeholder="Endereço">
                    </div>
                    <div class="col-sm">
                        <input type="text" name="bairro" id="bairro" required placeholder="Bairro">
                    </div>

                </div>
                <div class="form-control">
                    <div class="col-sm col-sm-offset-2">
                        <input type="text" name="numero" id="numero" required placeholder="Numero">
                    </div>
                    <div class="col-sm">
                        <input type="text" name="complemento" id="complemento" placeholder="Complemento">
                    </div>
                    <div class="col-sm">
                        <select name="cidade" id="cidade">
                            <option value="1">Pelotas</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-save">Salvar</button>
                <a href="#" id="btn-close" class="btn btn-close">Fechar</a>
            </div>
        </form>
    </div>
</div>
<script>
        $('#modalClienteToggle').on('click', function () {
            $('#modalCliente form').attr('action', @routes.ClienteController.save())
        });
        function  att() {
            $('#modalCliente form').attr('action', @routes.ClienteController.update(1))

        }
</script>
