@()

@main_funcionario("WebSports - Clientes", "Quadras") {
    <section class="cliente col-xs-offset-2">
        <div class="row">
            <div class="table-title">
                <h1>Listagem de Clientes</h1>
            </div>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Miguel</td>
                        <td>mgl.deadly@@gmail.com</td>
                        <td>038.121.140-11</td>
                        <td>Rua Dr. João Pessoa, 799, APT 201B</td>
                        <td>
                            <a href="#">Editar</a>
                            <a href="#">Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Miguel</td>
                        <td>mgl.deadly@@gmail.com</td>
                        <td>038.121.140-11</td>
                        <td>Rua Dr. João Pessoa, 799, APT 201B</td>
                        <td>
                            <a href="#">Editar</a>
                            <a href="#">Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Miguel</td>
                        <td>mgl.deadly@@gmail.com</td>
                        <td>038.121.140-11</td>
                        <td>Rua Dr. João Pessoa, 799, APT 201B</td>
                        <td>
                            <a href="#">Editar</a>
                            <a href="#">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
}