button.fc-novo-button {
  width:140px;
}

.btn {
  display: block;
  padding: 10px 15px;
  border: 1px solid transparent;
  text-decoration: none;
}

.btn-close {
  border-color: $primary-color;
  background: transparent;
  color: $secondary-color;
  &:hover {
    color: $terciary-color;
  }
}

.btn-save {
  background: $gradient-primary-color;
  color: $white-darker;
  &:hover {
    color: $white;
  }
}
i.dropdown {
  display: block;
  cursor: pointer;
  padding: 0 10px;
  &:before,&:after {
    content: '';
    display: inline-block;
    height:8px;
    width:1px;
  }
  &:before {
    transform: rotate(-50deg);
    background: $primary-color;
    margin-right:5px;
  }
  &:after {
    transform: rotate(50deg);
    background: $primary-color;
  }
}

span i.dropdown {
  &:before,&:after {
    background: $white;
  }
  display: inline-block;
}