* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}
#ui-id-1{
	z-index: 9999;
}
// Dropdown Accordian

//li.dropdown ul {
//	height:0px;
//	transition: height 1s;
//}
//li.dropdown ul.active {
//	height:auto;
//	transition: height 1s;
//}
