.table-title {
  width:100%;
  text-align: center;
  h1 {
    color: $primary-color;
    font-weight: 700;
    padding: 5px 0;
    &:after {
      display: block;
      content: '';
      width: 17%;
      height:2px;
      background: $gradient-primary-color;
      margin: 7.5px auto;
    }
  }
}
table.table {
  background: white;
  border-collapse: collapse;
  padding: 5px;
  width: 90%;
  margin: 1px auto 0 ;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  thead {
    th {
      background: linear-gradient(to bottom, $primary-color, #805be8);;
    }
  }
  th {
    color: #D5DDE5;
    text-align: left;
    padding: 10px 5px;
   // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    &:last-child {
      border-right: none;
    }
  }
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    //text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    &:hover td {
      background: $primary-color;
      color: #FFFFFF;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      a{
        color: $white;
      }
    }


    &:nth-child(odd) td {
      background:#EBEBEB;
    }

    &:nth-child(odd):hover td {
      background:$primary-color;

    }


  }
  td {
    background:#FFFFFF;
    padding:5px;
    text-align:left;
    vertical-align:middle;
    //text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    a {
      color: $primary-color;
      text-decoration: none;
      &:hover {
        color: lighten($primary-color, 30%);
      }
    }
    &:last-child {
      border-right: 0px;
    }
  }
}